<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetFlow AI Admin Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>🌐 NetFlow AI Admin Dashboard</h1>

    <p><b>Current Time:</b> {{ current_time }}</p>

    <hr>

    <h2>System Status</h2>

    <div class="cards">

        <div class="card">
            <h3>Gateway</h3>
            <p>🟢 Online</p>
        </div>

        <div class="card">
            <h3>Load Balancer</h3>
            <p>🟢 Online</p>
        </div>

        <div class="card">
            <h3>Server 1</h3>

            {% if server_status.server1 == "Online" %}
                <p>🟢 Online</p>
            {% else %}
                <p>🔴 Offline</p>
            {% endif %}

        </div>

        <div class="card">
            <h3>Server 2</h3>

            {% if server_status.server2 == "Online" %}
                <p>🟢 Online</p>
            {% else %}
                <p>🔴 Offline</p>
            {% endif %}

        </div>

    </div>

    <hr>

    <h2>Statistics</h2>

    <div class="cards">

        <div class="card">
            <h3>Connected Clients</h3>
            <h2>{{ clients }}</h2>
        </div>

        <div class="card">
            <h3>Total Requests</h3>
            <h2>{{ total }}</h2>
        </div>

        <div class="card">
            <h3>Allowed Requests</h3>
            <h2>{{ allowed }}</h2>
        </div>

        <div class="card">
            <h3>Blocked Requests</h3>
            <h2>{{ blocked }}</h2>
        </div>

    </div>

    <hr>

    <h2>Request Logs</h2>

    <table border="1">

        <tr>
            <th>Time</th>
            <th>Website</th>
            <th>Category</th>
            <th>Decision</th>
            <th>Server</th>
        </tr>

        {% for log in logs %}

        <tr>
            <td>{{ log[1] }}</td>
            <td>{{ log[3] }}</td>
            <td>{{ log[4] }}</td>
            <td>{{ log[5] }}</td>
            <td>{{ log[6] }}</td>
        </tr>

        {% endfor %}

    </table>

</div>

<script>
setTimeout(function () {
    location.reload();
}, 5000);
</script>

</body>
</html>